<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="eticaretdbBaglantisi" connectionString="Data Source=DESKTOP-50A1I1V\SQLEXPRESS;Initial Catalog=sr_accountdb;User ID=sa;Password=bilal" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
<!--ProjectGuid: 1C8A15CA-C587-4762-A6D6-08037949E27C-->